# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.vite/
frontend/dist/

# Machine Learning / Projects
backend/dataset/
backend/runs/
backend/models/*.pt
backend/models/*.task
!backend/models/.gitkeep

# Environments
.env
.venv
venv/
ENV/

# OS
.DS_Store
Thumbs.db
